*{
    margin: 0px;
}
#head-con{

display: flex;
width: 100%;
background: rgb(69,153,232);
background: linear-gradient(-180deg, rgba(69,153,232,1) 0%, rgba(255,255,255,1) 100%);
align-items: center;
padding:20px;
}
#icona,#list{
    display: inline-block;
    padding-left:50px ;
}
#list{
    width: 40%;
    margin-left: 250px;
}
#list ul{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}
#list ul a{
    font-size: 30px;
    color: white;
    text-decoration: none;
    font-weight: bold;
}
#icona{
    width: 20%;
    padding-left:200px ;
}
#icona img{
    width: 100px;
    border-radius: 50%;
    height: 100px;
}

#main{

width: 100%;
display: flex;
}
#title-child ,#img-child{
    width: 50%;
    
}
#title-child {
    background-color: white;
    display: flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;
}
#title-child img{
    width: 150px;
    border-radius: 10px;
}
#title-child h1{
    font-size: 80px;
    margin-bottom: 20px;
}
#title-child p{
    font-size: 25px;
    margin-bottom: 20px;

}





#img-child img{
    margin: 150px;
    border: 5px solid rgb(122, 122, 238);
    border-radius: 50px;
    height: 600px;
    width: 500px;
}
/* 
#main{
    background-color: rgb(241, 241, 247);
    padding: 2rem 2rem;
    text-align: center;
}
#title-child img{
    border-radius: 10px;
    width: 200px;
}
#title-child h1{
    font-size: 80px;
    color: rgb(46, 32, 122);

}

#title-child p{
    font-size: 25px;
    font-weight:bold;
    color: rgb(46, 32, 122);

}
#title-child ,#img-child{
display: inline-block;
width: 40%;
}
#img-child img{
    width: 400px;
    border-radius: 50px;

} */