@media screen and (min-width: 480px) {
*{
    margin: 0px;
    padding: 0px;
}
header{
   height: 700px;
   background-image: url(/assets/images/2.jpg);

}
#pnje{
    font-size: 25px;
    padding-top: 50px;
    margin-left: 40%;
    word-spacing: 15px;
    letter-spacing: 4px;
    color: #B78C44;
    
}

.top{
    margin-left: 8%;
    margin-top: 20px;
    width: 1300px;
    height: 50px;
    border-radius: 50px;
    background: #101110;
   
   
   
}
#icon{
width:20%;
display: inline-block;
height: 50px;
}

#icon img{
margin-top: 5px;
margin-left: 25%;
height: 40px;
width: 40px;
border-radius: 50%;

}
#linqet-top{
  
   margin-top: 13px;
   height: 30%;
   width: 50%;
   float: right;

}
#linqet-top a{
    margin-left:80px;
    text-decoration: none;
    color: #B78C44;
    font-size: 25px;
     }
.cont
{
width: 99.9%;
   margin-top: 60px;
   height:490px;
   display: flex;

}
.con1{
    margin-left: 50px;
    width: 50%;
   
    display: flex;
    flex-direction:column;
 

}
.con1 h1{
font-size: 60px;
color: #B78C44;
margin:100px 0px 50px 170px;
}
.con1 button
{
background-color:  #B78C44;
margin:50px 0px 20px 300px;
border-radius: 50px;
width: 250px;
height: 50px;
border-bottom: 5px solid black;
}
.con1 button a{
    text-decoration: none;
    color:black; 
}
.con1 button:hover{
    background-color:rgb(61, 54, 44) ;
 
}
.con1 button:hover a{
    text-decoration: none;
    color:#B78C44; 
}
.con2{
   
    margin-left: 50px;
    height: 100%;

}

.con2 img{
    border-radius: 50%;
    filter: drop-shadow(80px -20px 30px #101110);
}
main{
    background-color:rgba(17,17,17,255);
    height: 1150px;
}

#wl{
    width: 100%;
    height: 180px;
 

}
#wl p{
    padding: 30px;
    margin-left: 650px;
    padding-top:50px;
    font-size: 15px;
    color: #B78C44;

}
#wl h1{
margin-left: 560px;
color: #B78C44;
font-size: 40px;
}


.snje{
   height:250px;
    width:100%;
    display: flex;
    justify-content: space-evenly;
    margin-top:70px ;
   padding-bottom: 100px;
border-bottom: 8px dotted #B78C44 ;
}
.par{
    
    width: 40%;
    text-align: center;
    
}
.par p{
    color: white;
    margin-bottom: 30px;
    text-align: center;
}

.par a{
   
    text-decoration: none;
    color: #B78C44;
}


.par2{
  
   height: 150px;
 width: 40%;
}
.par2 iframe{
    margin-left: 20%;

}
.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    margin-top: 50px;
    height: 450px;
    width: 99%;
  
    }
    
    .div1 { 
      
        height: 200px;
        grid-area: 2 / 2 / 3 / 3; 
    
}

.div1 img{
    height: 85px;
    margin-left: 80px;
    border-radius: 50%;
}
.div1 h3{
    margin-left: 80px;
    color: #B78C44;
    
}.div1 p{
   
    margin: 0px 10px 0px 10px;
    text-align: center;
    color: #B78C44;
}
    .div2 {
        height: 200px;
         grid-area: 3 / 2 / 4 / 3; 
      
    }
    .div2 img{
        height: 85px;
        margin-left: 80px;
        border-radius: 50%;

    }
    .div2 h3{
        margin-left: 80px;
        color: #B78C44;
        
    }.div2 p{
        color: #B78C44;
        margin: 0px 10px 0px 10px;
        text-align: center;
    }

    .div3 {
        height: 200px;
         grid-area: 2 / 4 / 3 / 5;
        
     }


     .div3 img{
        height: 85px;
        margin-left: 80px;
        border-radius: 50%;
    }
    .div3 h3{
        margin-left: 80px;
        color: #B78C44;
        
    }.div3 p{
       
        margin: 0px 10px 0px 10px;
        text-align: center;
        color: #B78C44;
    }
    .div4 {
        height: 200px;
         grid-area: 3 / 4 / 4 / 5;
        
     }

     .div4 img{
        height: 85px;
        margin-left: 80px;
        border-radius: 50%;
    }
    .div4 h3{
        color: #B78C44;
        margin-left: 50px;
        
    }.div4 p{
        color: #B78C44;
        margin: 0px 10px 0px 10px;
        text-align: center;
    }

    .div5 {
         grid-area: 2 / 3 / 4 / 4; 
         background-color: rgb(136, 90, 90);
    }

    .div5 img{
        height: 100%;
        width: 100%;
       
    }


    #tabelapar{
        
    background: rgb(183,140,68);
background: linear-gradient(0deg, rgba(183,140,68,1) 0%, rgba(30,30,30,1) 55%);
height: 800px;
    margin: auto;
    border-radius: 100px;
    border-spacing: 50px;
    width: 800px;
}
#theadi{
  color: rgb(183,140,68);
  font-size: 40px;
  
}

.tabela{
    background-color: #201d1a;
    padding: 100px 0px 100px 0px;
}
.tabela img{
    height:100% ;
   width:100%;
}
#pic-nje{
    height: 200px;
    width: 300px;
}
#pic-dy{
    height: 200px;
    width: 300px; 
}
#pic-tre{
    margin-top: 0;
    height: 700px;
    width: 300px; 
}
#pic-kater{
    height: 700px;
    width: 300px;
    /* margin-left: 25px; */
    
}
#pic-pes{
    height: 400px;
    width: 200px; 
    margin-left: 50px;
}
td q{
    font-size: 40px;
    /* text-align: center; */
    width: 400px;
    display: block;
    margin-left: 150px;
    padding-bottom: 30px;
}
#tabeladyt{
   
    border-spacing: 20px;
margin: auto;
margin-bottom: 50px;
background-color: #101110;
border:2px dashed #101110;
border-radius: 10px;
}
#tabeladyt td{
border-bottom: 2px solid #201d1a;
width: 250px;
height: 30px;
background-color: #372c18;

}
.datat a{
display: block;
margin-left: 50px;
text-decoration: none;
font-size: 15px;
color: #B78C44;

}
footer{
    background-color: #a07a33;
}
#tabeladyt td :hover{
    font-size: 18px;

}

.contact-us h1{
   width: 100%;
   text-align: center;
   padding: 10px;
   padding-top: 50px;
}
.contact-us p{
   text-align: center;
   width: 30%;
   margin: auto;
padding: 10px;
padding-bottom: 30px;
}
.conf{
height: 380px;
}

  
  }

@media screen and (max-width: 480px) {
    *{
        margin: 0px;
        padding: 0px;
    }
    header{
       height: 400px;
       width: 100%;
       background-image: url(/assets/images/2.jpg);
    
    }
    #pnje{
        font-size: 15px;
        padding-top: 40px;
        margin-left: 25%;
        word-spacing: 15px;
        letter-spacing: 4px;
        color: #B78C44;
        
    }
    
.top{
 margin-left: 18%;
 margin-top: 20px;
 width: 250px;
 height: 50px;
 border-radius: 50px;
 background: #101110;

       
}
    #icon{
   
    width:20%;
    display: inline-block;
    height: 100%;
    }
    
    #icon img{
    margin-top: 10px;
    margin-left: 25%;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    
    }
    #linqet-top{
        display: felx;
    justify-content: space-between;
       margin-top: 13px;
       height: 50%;
       width: 70%;
       float: right;
    
    }

    #linqet-top a{
        margin-left:10px;
        text-decoration: none;
        color: #B78C44;
        font-size: 10px;
 
         }
    .cont
    {
    width: 99.9%;
       margin-top: 60px;
       height:200px;
       display: flex;
       
    }
    .con1{
       
        width: 50%;
        display: flex;
        flex-direction:column;
      
    
    }
    .con1 h1{
    font-size: 30px;
    color: #B78C44;
    margin:10px 0px 0px 10px;
    text-align: center;
    }
    .con1 button
    {
    background-color:  #B78C44;
    margin:50px 0px 20px 50px;
    border-radius: 50px;
    width: 80px;
    height: 30px;
    border-bottom: 5px solid black;
    }
    .con1 button a{
        text-decoration: none;
        color:black; 
        font-size: 8px;
    }
    .con1 button:hover{
        background-color:rgb(61, 54, 44) ;
        font-size: 8px;
    }
    .con1 button:hover a{
        text-decoration: none;
        color:#B78C44; 
        font-size: 8px;
    }
    .con2{
      margin: 25px 25px ;
      margin-top:30px ;
     height: 100%;
    
    }
    
    .con2 img{
        height: 150px;
        width: fit-content;
        border-radius: 50%;
        filter: drop-shadow(80px -20px 30px #101110);
    }
    main{
        background-color:rgba(17,17,17,255);
        height: 720px;
    }
    
    #wl{
        width: 100%;
        height: 110px;
     
    
    }
    #wl p{
        padding: 20px;
        margin-left: 130px;
        padding-top:50px;
        font-size: 10px;
        color: #B78C44;
    
    }
    #wl h1{
    margin-left: 80px;
    color: #B78C44;
    font-size: 25px;
    }
    
    
    .snje{
       height:250px;
        width:100%;
        display: flex;
        justify-content: space-evenly;
        margin-top:70px ;
       padding-bottom: 10px;
    border-bottom: 5px dotted #B78C44 ;
    }
    .par{
        
        width: 40%;
        text-align: center;
        
    }
    .par p{
        color: white;
        margin-bottom: 30px;
        text-align: center;
        color: #B78C44;
        font-size: 13px;
    }
    
    .par a{
        font-size: 13px;
        text-decoration: none;
        color: #ba8c57;
    }
    
    
    .par2{
      padding-top: 50px;
    height: 150px;
     width: 40%;
    }
    .par2 iframe{

        margin-left: 20%;
    
    }
    .parent {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(5, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 10px;
        margin-top: 20px;
        height: 250px;
        width: 99%;
       
      
        }
        
        .div1 { 
       
            height: 100px;
            width: 100px;
            grid-area: 2 / 2 / 3 / 3; 
        
    }
    
    .div1 img{
        height: 45px;
        margin-left: 25px;
        border-radius: 50%;
    }
    .div1 h3{
        margin-left: 30px;
        color: #B78C44;
        font-size: 7px;
        
    }.div1 p{
       
        margin: 0px 10px 0px 10px;
        text-align: center;
        color: #B78C44;
        font-size: 7px;
    }
        .div2 {
           
            height: 100px;
            width: 100px;
             grid-area: 3 / 2 / 4 / 3; 
          
        }
        .div2 img{
            height: 45px;
        margin-left: 25px;
        border-radius: 50%;
    
        }
        .div2 h3{
            margin-left: 30px;
            color: #B78C44;
            font-size: 7px;
            
        }.div2 p{
           
        margin: 0px 10px 0px 10px;
        text-align: center;
        color: #B78C44;
        font-size: 7px;
        }
    
        .div3 {
            
            height: 100px;
            width: 100px;
             grid-area: 2 / 4 / 3 / 5;
            
         }
    
    
         .div3 img{
            height: 45px;
            margin-left: 25px;
            border-radius: 50%;
        }
        .div3 h3{
            margin-left: 30px;
        color: #B78C44;
        font-size: 7px;
            
        }.div3 p{
           
        margin: 0px 10px 0px 10px;
        text-align: center;
        color: #B78C44;
        font-size: 7px;
        }
        .div4 {
           
            height: 100px;
            width: 100px;
             grid-area: 3 / 4 / 4 / 5;
            
         }
    
         .div4 img{
            height: 45px;
        margin-left: 25px;
        border-radius: 50%;
        }
        .div4 h3{
            margin-left: 30px;
            color: #B78C44;
            font-size: 7px;
            
        }.div4 p{
            
        margin: 0px 10px 0px 10px;
        text-align: center;
        color: #B78C44;
        font-size: 7px;
        }
    
        .div5 {
             grid-area: 2 / 3 / 4 / 4; 
             background-color: rgb(136, 90, 90);
        }
    
        .div5 img{
            height: 100%;
            width: 150px;
           
        }
    
    
        #tabelapar{
         
        background: rgb(183,140,68);
       background: linear-gradient(0deg, rgba(183,140,68,1) 0%, rgba(30,30,30,1) 55%);
       height: 350px;
       width: 250px; 
        margin: auto;
        border-radius: 100px;
        border-spacing: 5px;
    }
    #theadi{
      color: rgb(183,140,68);
      font-size: 15px;
      
    }
    
    .tabela{
        background-color: #201d1a;
        padding: 20px 0px 50px 0px;
       
    }
    .tabela td{
     
    }
    #pic-nje{
        margin-left: 20px;
        height: 50px;
        width: 70px;
    }
    #pic-dy{
        margin-left: 0px;
        height: 50px;
        width: 70px; 
    }
    #pic-tre{
        /* margin-left:10px; */
        height: 100px;
        width: 50px; 
    }
    #pic-kater{
        height: 100px;
        width: 50px;
        margin-left: 15px;
        
    }
    #pic-pes{
        height: 100px;
        width: 50px; 
      
        
    }
  
    td q{
        font-size: 10px;
        text-align: center;
        width: 80px;
        display: block;
        margin-left: 10px;
        padding-bottom: 30px;
    }
    #tabeladyt{
       
    border-spacing: 20px;
    margin: auto;
    margin-bottom: 30px;
    background-color: #101110;
    border:3px dashed #B78C44;
    border-radius: 10px;
    }
    #tabeladyt td{
    border-bottom: 2px solid #201d1a;
    width: 80px;
    height: 30px;
    background-color: #372c18;
    
    }
    .datat a{
    display: block;
    margin-left: 8px;
    text-decoration: none;
    font-size: 10px;
    color: #B78C44;
    
    }
    footer{
        background-color: #a07a33;
    }
    #tabeladyt td :hover{
        font-size: 18px;
    
    }
    
    .contact-us h1{
       width: 100%;
       text-align: center;
       padding: 10px;
       padding-top: 50px;
       font-size: 20px;
    }
    .contact-us p{
       text-align: center;
       width: 50%;
       margin: auto;
    padding: 10px;
    padding-bottom: 30px;
    font-size: 8px;
    }
    .conf{
    height: 350px;
  }}